

.benefits__content {
    margin: 2rem 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid rgb(255, 255, 255) 20px;
    border-radius: 20px;
}


.benefits__item {
    max-width: 500px;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.benefits__item-icon {
    fill: rgb(255, 255, 255);
}

.benefits__item-svg {
    width: 150px;
    height: 150px;
}

.benefits__item-text {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-left: 2rem;
    color: rgb(255, 255, 255);
}