.button--dark {
  font-family: "Roboto",serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 25px;
  background-color: rgba(107, 107, 128, 0.8);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2.5rem;
  box-shadow: none;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .4s linear;
  cursor: pointer;
}
