.button--dark {
  font-family: "Roboto",serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1rem 1.8rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2.5rem;
  box-shadow: none;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .4s linear;
  cursor: pointer;


  @include xl {
    padding: .8rem 1rem;
  }
  @include sm {
    padding: .5rem 1rem;
    font-size: .8rem;
  }
}
