.catalog {
  margin: 3rem auto ;
}


.catalog__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

    @include md {
   justify-content: space-evenly;
  }

  
}

.catalog__item {
  margin-bottom: 40px;
  width: 250px;
  height: 250px;
  position: relative;
  transition: transform 0.2s linear;

  &:hover {
    transform: translateY(-6px);

    .catalog__modal {
      background-color: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, 1);
      border: 1px solid rgb(0, 0, 0);
      @include text-shadow;
    }
  }

  @include xl {
    width: 230px;
    height: 230px;
  }

    
}

.catalog__photo {
  height: 100%;
  object-fit: cover;
}

.catalog__modal {
  padding: 3px;
  font-size: 1.4rem;
  font-style: italic;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1.5rem;
  position: absolute;
  left: 15px;
  top: 15px;
  transition:  color .2s linear;
}
