.footer {
  font-family: "Noto Serif", sans-serif;
  border-top: 2px solid rgba(255, 255, 255, 1);
  max-height: 300px;
  background-color: rgba(5, 2, 2, 0.8);

  &__wrapper {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md {
      padding-top: 1.2rem;
    }

    @include sm {
      padding-top: 0.8rem;
      flex-direction: column;
      align-items: center;
    }
  }

  &__copyright {
    padding: 1rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.8);
  }
}

.address {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: rgba(255, 255, 255, 1);

    @include lg {
      font-size: 1.2rem;
    }

    @include lg {
      font-size: 1rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-style: normal;
    color: rgba(255, 255, 255, 1);

    @include lg {
      font-size: 1rem;
    }
  }

  @include md {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.contacts {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: rgba(255, 255, 255, 1);

    @include lg {
      font-size: 1.2rem;
    }

    @include lg {
      font-size: 1rem;
    }
  }

  &__phone {
    display: flex;
    justify-content: space-around;
  }

  &__phone-link {
    margin-right: 1rem;
    font-family: "Noto Serif", serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;

    @include lg {
      font-size: 1rem;
    }
  }

  &__phone-link:hover {
    text-decoration: underline;
  }

  @include md {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
