.header {
  font-family: 'Noto Serif', serif;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;


   @include lg {
    font-size: 1rem;
  }
}

.header__inner {
  height: 95px;
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include xl {
    height: 80px;
  }
  
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__logo-icon {
  fill: white;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.header__logo-text {
  @include text-shadow;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}

.header__language a {
  font-family: "Roboto", serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
