.header {
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s linear;

  @include lg {
    font-size: 1rem;
  }
}

.header--dark {
  background-color: rgba(0, 0, 0, 1);
}

.header__inner {
  height: 95px;
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include xl {
    height: 80px;
  }
}

.header__logo {
  max-width: 100px;
  padding-left: 3.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  @include text-shadow;
  color: #ffffff;
  position: relative;

  @include lg {
     font-size: 1rem;
  }

   @include md {
     font-size: .8rem;
  }
}

.header__logo-icon {
  max-width: 93%;
  max-height: 53px;
  fill: white;
  cursor: pointer;

   @include lg {
   max-width: 73%;
  }

  @include md {
   max-width: 63%;
  }
}

.header__logo-text {
  position: absolute;
  top: 26%;
  left: 1%;

   @include lg {
     top: 29%;
     left: 6%;
  }

   @include md {
     top: 33%;
     left: 15%;
  }

}

.header__logo-text-2 {
  position: absolute;
  top: 26%;
  left: 79%;

   @include lg {
     top: 29%;
     left: 74%;
  }

   @include md {
     top: 33%;
     left: 70%;
  }
}


.header__language a {
  font-family: "Roboto", serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
