.intro {
  position: relative;
  padding: 3px 0;
  background-color: rgb(255, 255, 255);
}

.intro__slider {
  width: 100%;
  height: 500px;
  overflow: hidden;

  &-item {
    max-height: 800px;
    background-color: white;
  }
}

.intro__slider-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.intro__inner {
  position: relative;
}

.intro__inner-text {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  line-height: 1.2;
  display: block;
  margin: 2rem 4rem 0.8rem 3rem;
  // text-shadow: 0 2px 5px rgb(0, 0, 0);
  @include text-shadow;
  color: rgb(245, 245, 245);
  position: absolute;
  left: 5px;
  bottom: 5%;
}

.intro__inner-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.intro__inner-subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.intro__inner-icon {
  margin: 0.8rem;
  width: 30px;
  height: 30px;
}

.intro__contacts {
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: -5rem;
  margin-right: 3rem;
  color: rgb(255, 255, 255);
  @include text-shadow;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  bottom: 110px;
  right: 0;
}

.intro__contacts-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__contacts-tel a {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 2px solid transparent;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px black;

  &:hover {
    @include hover;
  }
}

.intro__contacts-icon {
  margin: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50px;
  box-shadow: 0 7px 12px black;
  fill: #fff;
}

.intro__social {
  display: flex;
  justify-content: space-between;

}

.intro__social-link {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.intro__social-icon {
  margin: 1rem;
  width: 50px;
  height: 50px;
  box-shadow: 0 7px 12px black;
  border-radius: 50px;
}

.intro__social-subtitle {
  padding: 0.5rem;
  align-self: center;
  text-shadow: 0 0 10px black;
  border: 2px solid transparent;

  &:hover {
    @include hover;
  }
}
