.intro {
  position: relative;
  padding: 3px 0;
  background-color: rgb(255, 255, 255);
}

.intro__slider {
  width: 100%;
  height: 500px;
  overflow: hidden;

  &-item {
    height: 800px;
    background-color: white;
  }

  @include xl {
    height: 410px;
  }
}

.intro__slider-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

// .intro__inner {
//   position: relative;
// }

.intro__inner-text {
  margin: 0 3rem;
  padding: 1.5rem;
  font-family: "Noto Serif", serif;
  font-weight: normal;
  text-align: center;
  @include text-shadow;
  color: rgb(255, 255, 255);
  border-radius: 2.5rem;
  backdrop-filter: brightness(0.3);
  position: absolute;
  left: 0;
  bottom: 5%;
  animation: text-pulse 1.5s ease-in-out infinite alternate;

  @include xl {
    padding: 1rem;
  }

  @include rwd(1350) {
    bottom: 9%;
  }

  @include lg {
    width: 300px;
  }

  @include md {
    bottom: 30%;
    right: 0;
    margin: 0 auto;
  }
}

@keyframes text-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.intro__inner-title {
  font-size: 1.4rem;
  font-weight: 700;

  @include md {
    font-size: 1.1rem;
  }

  @include sm {
   font-size: 1rem;
  }
}

.intro__inner-subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  @include md {
      display: none;
  }

   @include sm {
 font-size: 1rem;
  }

  
}

.intro__inner-icon {
  margin: 0.8rem;
  width: 30px;
  height: 30px;
}

.intro__contacts {
  max-width: 50%;
  margin-bottom: -5rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  @include text-shadow;
  position: absolute;
  bottom: 110px;
  right: 0;

  @include rwd(1350) {
    flex-direction: column;
  }

  @include lg {
    font-size: 1.3rem;
  }

   @include md {
    font-size: 1.1rem;
    left: 0;
    bottom: 50%;
    margin: 0 auto;
  }
}

.intro__contacts-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include md {
    height: 30px;
  }

 
}

.intro__contacts-tel a {
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px black;

  &:hover {
    @include hover;
  }
}

.intro__contacts-icon {
  margin: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50px;
  box-shadow: 0 7px 12px black;
  fill: #fff;

  @include xl {
    width: 40px;
    height: 40px;
  }
}

.intro__social {
  display: flex;
  justify-content: space-between;

   @include md {
    flex-direction: column;
  }
}

.intro__social-item {
  @include md {
    height: 60px;
  }
}

.intro__social-link {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.intro__social-icon {
  margin: 1rem;
  width: 50px;
  height: 50px;
  box-shadow: 0 7px 12px black;
  border-radius: 50px;

  @include xl {
    width: 40px;
    height: 40px;
  }
}

.intro__social-subtitle {
  padding: 0.5rem;
  align-self: center;
  text-shadow: 0 0 10px black;
  border: 2px solid transparent;
  border-radius: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);

  &:hover {
    @include hover;
  }
}
