.portfolio__slider-item {
  margin: .3rem;
  padding: 5px;
  max-width: 600px;
  min-height: 300px;
  object-fit: cover;
  background-color: white;
}


.portfolio__subtitle {
  margin: 3rem 0;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.portfolio__photo {
  height: 100%;
}
