.portfolio__slider-item {
  margin: 0 5px;
  padding: 5px;
  max-width: 600px;
  max-height: 800px;
  background-color: white;
}


.portfolio__subtitle {
  margin: 3rem 0;
  font-family:  'Lobster', cursive;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.portfolio__photo {
  height: 100%;
}
