.sample {
  padding-top: 120px;

  @include xl {
    padding-top: 95px;
  }

  @include lg {
    padding-top: 100px;
  }

  @include md {
    padding-top: 45px;
  }
}

.sample__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include md {
    justify-content: center;
  }
}

.sample__item {
  margin-bottom: 0.8rem;
  position: relative;
  width: 210px;
  height: 210px;
  box-shadow: 0 29px 24px rgba(0, 0, 0, 1);

  &:hover .sample__item-title,
  &:hover .sample__item-subtitle {
    opacity: 0;
  }

  & > .button {
    opacity: 0;
  }

  &:hover > .button {
    opacity: 1;
  }

  &:hover .sample__item-svg {
    opacity: 1;
  }

  @include xl {
    width: 178px;
    height: 178px;
  }

  @include lg {
    width: 137px;
    height: 137px;
  }

  @include md {
    margin: 2.5rem 1rem;
  }
}

.sample__item-svg {
  width: 50px;
  height: 50px;
  fill: rgb(255, 255, 255);
  opacity: 0;
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translate(-50%, -50%);

  @include xl {
    width: 35px;
    height: 35px;
  }

  @include lg {
    width: 30px;
    height: 30px;
  }
}

.sample__item-img {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.sample__item-text {
  width: 100%;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 8px 15px rgba(0, 0, 0, 1);
  opacity: 1;
  transition: opacity 0.2s linear;
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translate(-50%, -50%);
}

.sample__item-title {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);

  @include xl {
    font-size: 1.3rem;
  }

  @include lg {
    font-size: 1rem;
  }
}

.sample__item-subtitle {
  font-size: 1.1rem;
  color: rgb(255, 140, 0);

  @include xl {
    font-size: 1rem;
  }

  @include xl {
    font-size: 0.8rem;
  }
}
