.single__gallery {
  display: flex;
  flex-wrap: wrap;
}

.single__item {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 250px;
  height: 250px;
  position: relative;
  transition: transform 0.2s linear;

  &:hover {
    transform: translateY(-6px);

    .single__modal {
      color: rgba(255, 255, 255, 1);
      @include text-shadow;
    }
  }
}

.single__photo {
  height: 100%;
  object-fit: cover;
}

.single__modal {
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 15px;
  top: 15px;
  transition:  color .2s linear;
}
