.social {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    color: rgba(245, 245, 245, 1);

      @include lg {
      font-size: 1.2rem;
    }

     @include lg {
      font-size: 1rem;
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
  }

  &__icon {
    width: 30px;
    height: 25px;
    fill: rgb(255, 255, 255);

     @include md {
      width: 25px;
      height: 20px;
    }
  }
}
