.universal__title {
  padding-top: 2rem ;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: none;
}

.universal__content {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;

  & li {
    list-style-type: "- ";
  }
  
}

.universal__text {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-weight: 400;
  padding: 2rem;
}
