<!DOCTYPE html>
<html lang="ru">
  <head>
    {{>head}}
  </head>

  <body>
    <!--Sprite-->
    {{> sprite}}

    <div class="page {{ page }}">
      <!--Header-->
      {{>header}}

      <!--Content-->
      <div class="content" id="content" data-scrollspy="#content">
        {{>body}}
      </div>

      <!--Footer-->

      {{>footer}}
    </div>

    {{#ifpage 'index'}}
      <!--Modal-->
      {{>modal}} 
    {{/ifpage}}

    <script src="./assets/js/app.min.js"></script>
  </body>
</html>
