<!DOCTYPE html>
<html lang="ru">
  <head>
    {{>head}}
  </head>

  <body>
    <!--Sprite-->
    {{> sprite}}

    <div class="page">
      <!--Header-->
      {{>header}}

      <!--Content-->
      <div class="content" id="content" data-scrollspy="#content">
        {{>body}}
      </div>

      <!--Footer-->
      {{>footer}}
    </div>

    <script src="./assets/js/app.min.js"></script>

    <!-- <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    /> -->
  </body>
</html>
