<footer class="footer" id="footer" data-scrollspy="#footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="address">
        <div class="address__title">Как нас найти</div>
        <address class="address__text">Сабаровское шоссе, 6г</address>
      </div>
      <div class="contacts">
        <div class="contacts__title">Контакты для связи</div>
        <div class="contacts__phone">
          <a class="contacts__phone-link" href="tel:+380989726009"
            >+380989726009</a
          >
        </div>
      </div>
      <div class="social">
        <div class="social__title">Мы в соцсети</div>
        <div class="social__inner">
          <a class="social__link" href="viber://chat?number=%2B380989726009">
            <span>Наш Viber</span>
            <svg class="social__icon social__icon--viber">
              <use xlink:href="{{root}}/assets/img/sprite.svg#viber"></use>
            </svg>
          </a>

          <a class="social__link" href="https://wa.me/+380989726009"
            ><span>Наш Whatsapp</span>

            <svg class="social__icon social__icon--whatsaap">
              <use xlink:href="{{root}}/assets/img/sprite.svg#whatsapp-green"></use>
            </svg>
          </a>
        </div>
      </div>
      <!--social-->
    </div>
    <!--footer__wrapper-->
  </div>

  <div class="footer__copyright">
    <div class="container">
      <div class="footer__copyright-text">
        © <span class="copyright__date"></span> “Ritual Granit”
      </div>
      <p>
        Копирование материалов сайта запрещено. Нарушение авторских прав влечет
        за собой уголовную ответственность.
      </p>
    </div>
  </div>
</footer>
