<footer class="footer">
 <div class="container">
    <div class="footer__wrapper">
    <div class="address">
      <div class="address__title">Как нас найти</div>
      <address class="address__text">г. Винница Лука-Мелешковская 32</address>
    </div>
    <div class="contacts">
      <div class="contacts__title">Контакты для связи</div>
      <div class="contacts__phone">
        <a class="contacts__phone-link" href="tel:+380982643997">+38098 2643997</a>
        <a class="contacts__phone-link" href="tel:+380632643997">+38098 2643997</a>
        <a class="contacts__phone-link" href="tel:+380982643997">+38098 2643997</a>
        </div>
       <div class="contacts__mail">
          <a class="contacts__mail-link" href="mailto:mazhurichka@gmail">mazhurichka@gmail</a>
       </div>
    </div>
    <div class="social">
      <div class="social__text">Мои соцсети</div>
      <div class="social__inner">
        <a class="social__link">
          <svg class="social__icon social__icon--viber">
            <use xlink:href="#viber"></use>
          </svg>
        </a>

        <a class="social__link">
          <svg class="social__icon social__icon--facebook">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>

        <a class="social__link">
          <svg class="social__icon social__icon--instagram">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
      </div>
    </div>
    <!--social-->
  </div>
  <!--footer__wrapper-->
 </div>

  <div class="footer__copyright">
    <p class="footer__copyright-text">
      © <span class="copyright__date"></span> Бюро “AA Group” Политика конфиденциальности
    </p>
  </div>
</footer>
