<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="header__logo" aria-label="logo">
        <svg class="header__logo-icon">
          <use xlink:href="#monument"></use>
        </svg>
        <div class="header__logo-text">Ritual Granit</div>
      </a>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list-item active">
            <a href="index.html" class="nav__list-link">Главная</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__list-link">Услуги</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__list-link">Портфолио</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__list-link">О нас</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__list-link">Контакты</a>
          </li>
        </ul>
      </nav>

      <button class="burger active" type="button">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>

      <div class="header__language">
        <a class="header__language-uk" href="#">UK</a>
        <a class="header__language-ru" href="#">RU</a>
      </div>
    </div>
  </div>
</header>
