<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="header__logo" aria-label="logo">
        <svg class="header__logo-icon">
          <use xlink:href="#menhir"></use>
        </svg>
        <div class="header__logo-text">Ritual Granit</div>
      </a>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list-item active">
            <a href="index.html" class="nav__list-link">Главная</a>
          </li>

           <li class="nav__list-item">
            <a href="/#catalog" class="nav__list-link">Каталог</a>
          </li>

          <li class="nav__list-item">
            <a href="/#about" class="nav__list-link">О нас</a>
          </li>
          <li class="nav__list-item">
            <a href="/#services" class="nav__list-link">Услуги</a>
          </li>
          <li class="nav__list-item">
            <a href="/#engravis" class="nav__list-link">Гравировка</a>
          </li>
          <li class="nav__list-item">
            <a href="/#portfolio" class="nav__list-link">Работы</a>
          </li>
          <li class="nav__list-item">
            <a href="/#footer" class="nav__list-link">Контакты</a>
          </li>
      
        </ul>
      </nav>

      <button class="burger active" type="button">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>

    </div>
  </div>
</header>
