<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{#ifpage 'index'}}
<meta name="description" content="Главная купить Винница" />
{{/ifpage}}

{{#ifpage 'basement'}}
<meta name="description" content="Бетонное основание купить Винница" />
{{/ifpage}}

{{#ifpage 'single'}}
<meta name="description" content="Одинарные купить Винница" />
{{/ifpage}}

{{#ifpage 'double'}}
<meta name="description" content="Двойные купить Винница" />
{{/ifpage}}

{{#ifpage 'memorials'}}
<meta name="description" content="Мемориалы купить Винница" />
{{/ifpage}}

{{#ifpage 'basement-monuments'}}
<meta name="description" content="Бетонные памятники купить Винница" />
{{/ifpage}}



<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"
/>

<link rel="stylesheet" href="assets/css/style.min.css" />
<title>{{ title }}</title>
