<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <a
        href="/"
        class="header__logo"
        aria-label="logo"
        data-scroll="#intro"
      >
        <svg class="header__logo-icon">
          <use xlink:href="#logo"></use>
        </svg>
        <div class="header__logo-text-first">pamya</div>
        <div class="header__logo-text-second">nik</div>
      </a>

      <nav class="nav" id="nav">
        <ul class="nav__list">
          <li class="nav__list-item" data-scroll="#content">
            <a href="/" class="nav__list-link">Главная</a>
          </li>

          <li class="nav__list-item" data-scroll="#catalog">
            <a href="index.html#catalog" class="nav__list-link">Каталог</a>
          </li>

          <li class="nav__list-item" data-scroll="#about">
            <a href="index.html#about" class="nav__list-link">О нас</a>
          </li>
          <li class="nav__list-item" data-scroll="#services">
            <a href="index.html#services" class="nav__list-link">Услуги</a>
          </li>

          <li class="nav__list-item" data-scroll="#engravis">
            <a href="index.html#engravis" class="nav__list-link">Гравировка</a>
          </li>
          <li class="nav__list-item" data-scroll="#portfolio">
            <a href="index.html#portfolio" class="nav__list-link">Работы</a>
          </li>
          <li class="nav__list-item" data-scroll="#footer">
            <a href="index.html#footer" class="nav__list-link">Контакты</a>
          </li>
        </ul>
      </nav>

      <button
        class="burger"
        type="button"
        id="burger"
        aria-label="Кнопка мобильного меню"
      >
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
