<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{#ifpage 'index'}}
<meta name="description" content="Помощь в выборе памятника, а также полный сервис от изготовления до установки надгробий на любой бюджет. Закажите у нас качественные изделия" />
{{/ifpage}}

{{#ifpage 'basement'}}
<meta name="description" content="Крепкий фундамент под памятник - результат команды наших специалистов по монтажу. Грамотный подбор материалов и выполнение сложных работ гарантируем." />
{{/ifpage}}

{{#ifpage 'single'}}
<meta name="description" content="Нужен одинарный памятник или крест из гранита и мрамора - у нас большой выбор и индивидуальный подбор модели." />
{{/ifpage}}

{{#ifpage 'double'}}
<meta name="description" content="Остановите выбор двойных памятников на модели из нашего каталога - это решение позволит достойно увековечить память о родных и сократить расходы." />
{{/ifpage}}

{{#ifpage 'memorials'}}
<meta name="description" content="Необычный или эксклюзивный памятник, а может и целый комплекс постамент - Ваше виденье в руках ритуального дизайнера" />
{{/ifpage}}

{{#ifpage 'basement-monuments'}}
<meta name="description" content="Недорогие памятники из бетона изготовляем качественно, просто и со вкусом" />
{{/ifpage}}



<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"
/>

<link rel="stylesheet" href="assets/css/style.min.css" />

<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicon/manifest.json">
<link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">

<title>{{ title }}</title>
