<div class="modal" id="modal">
  <div class="modal__inner">
    <h3>Мы на связи</h3>
    <ul>
      <li>Пн-Пт 8:00-20:00</li>
      <li>Сб-Вс 9:00-19:00</li>
    </ul>
    <a href="tel:+380989726009" class="modal__link">+380989726009</a>
    <a href="viber://chat?number=+380989726009" class="modal__link">Viber</a>
    <a href="https://wa.me/+380989726009" class="modal__link">Whatsapp</a>

    <button
      class="modal__close"
      id="modal-close"
      type="button"
      aria-label="button-close-modal"
    ></button>
  </div>
</div>
