@font-face {
  font-family: "Noto Serif";
  src: local("☺"), url("../fonts/NotoSerif-Regular.woff") format("woff"),
    url("../fonts/NotoSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: local("☺"), url("../fonts/NotoSerif-Italic.woff") format("woff"),
    url("../fonts/NotoSerif-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: local("☺"), url("../fonts/NotoSerif-Bold.woff") format("woff"),
    url("../fonts/NotoSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Rubik Mono One";
  src: local("☺"), url("../fonts/RubikMonoOne-Regular.woff") format("woff"),
    url("../fonts/RubikMonoOne-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


