@import "fonts.scss";
@import "vars.scss";
@import "mixins.scss";

.live-line {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 0;
  height: 3px;
  background-color: blanchedalmond;
}

html {
  font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

address {
  font-style: normal;
}

img {
  width: 100%;
  display: block;
}

html,
body {
  height: 100%;
  scroll-padding-top: 95px;

  @include lg {
    scroll-padding-top: 80px;
  }
}

*[class$="__title"],
*[class$="-title"],
*[class$="subtitle"] {
  text-shadow: 0 0 10px #000;
}

body {
  margin: 0;
  background-image: url(../img/bakground.webp);
  background-color: rgba(0, 0, 0, 1);
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;

  &.no-scroll {
    overflow: hidden;
  }

  &.show-nav .header {
    background-color: rgba(0, 0, 0, 1);
  }
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 95px;
}

.content {
  margin-top: 95px;
  flex-grow: 1;
  position: relative;

  @include xl {
    margin-top: 80px;
  }

  @include md {
    margin-top: 75px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text {
  margin: 1rem;
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  font-weight: 500;

  & > span {
    font-weight: 700;
  }

  @include lg {
    margin: 0 0 0.7rem;
  }
}

.section__title {
  margin: 4.5rem auto;

  font-family: "Rubik Mono One", sans-serif;
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-shadow: 0 5px 10px rgba(13, 6, 6, 0.72);

  @include xl {
    margin: 3rem auto;
    font-size: 1.8rem;
  }

  @include lg {
    margin: 2rem auto;
    font-size: 1.5rem;
  }

  @include sm {
    font-size: 1.3rem;
  }
}

.section__subtitle {
  margin: 3rem 0;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-size: 25px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.text__link {
  color: rgb(0, 0, 0);
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

// blocks
@import "vendor/slick.scss";

@import "blocks/intro.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/sample.scss";
@import "blocks/universal.scss";
@import "blocks/process.scss";
@import "blocks/services.scss";
@import "blocks/button.scss";
@import "blocks/type.scss";
@import "blocks/works.scss";
@import "blocks/engravis.scss";
@import "blocks/portfolio.scss";
@import "blocks/catalog.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";
@import "blocks/error-page.scss";

// vendor
@import "vendor/fancyapp.scss";
